.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  background-color: white;
  color: gray;
  margin-bottom: 20px;
}

.table table {
  width: 100%;
}

.table::-webkit-scrollbar {
  display: none;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
}

.table tr:nth-of-type(odd){
  background-color: #dfdfdf
}